<h1>About Me</h1>

<div class="row">
	<div class="col-md-4">
		

		<%= image_tag "geo.jpeg", width: 300, alt: "Profile Image" %>
	</div>

	<div class="col-md-8">
		<p>After recently graduating with a degree in computer science, I have created this site to store and showcase the projects I have been/will be working on. </p>

	</div>

</div>

