<h1>Would you like to work together?</h1>
<div class="row">
	<div class="col-md-6">
		<h3> Pretend Office Address</h3>
		<p> Trinity College </p>
		<p><%= number_to_phone "5555555555" %></p>
	</div>
	<div class= "col-md-6">
		<iframe src="https://www.google.com/maps/d/embed?mid=1OrRALVrPrgqIA-APaiHjerWl2QI&hl=en" width="600" height="450" frameborder= "0" style="border:0" allowfullscreen></iframe>
	</div>
</div>
